:root {
  --docs-primary-light: #F7931A;
  --docs-primary-dark: #FFC774;
  --docs-dark: #40382D;

  --docs-note-text: var(--docs-body-text) !important;
  --docs-note-bg: #FEF3E6 !important;
  --docs-code-text: var(--docs-black) !important;
  --docs-code-bg: #FCDCB5;
  --docs-pre-bg: #271601;
}

:root[data-theme="dark"] {
  --docs-note-text: var(--docs-white) !important;
  --docs-note-bg: var(--docs-pre-bg) !important;
  --docs-code-text: var(--docs-white) !important;
  --docs-code-bg: #704400;
  --docs-pre-bg: #211D17;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --docs-note-text: var(--docs-white) !important;
    --docs-note-bg: var(--docs-pre-bg) !important;
    --docs-code-text: var(--docs-white) !important;
    --docs-code-bg: #704400;
    --docs-pre-bg: #211D17;
  }
}


iframe.example {
  width: 100%;
  height: 800px;
  border: 0;
}

iframe.playground {
  width: 100%;
  height: 888px;
  border: 0;
}

.supporters a {
  display: inline-block;
  margin: 1.5rem 1.5rem 1.5rem 0;
  text-align: center;
}

.supporters img {
  display: block;
  width: 75px;
  height: 75px;
  margin-bottom: .5rem;
}

.descriptor-support-table > table {
  width: 100%;
}

.descriptor-support-table > table > thead > tr > th {
  width: 25%;
}

.descriptor-examples-table > table > thead > tr > th:nth-child(2) {
  width: 45%;
}

.descriptor-examples-table code,
.descriptor-examples-table td:not(:first-child) {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}
