[project]
name = "bitcoindevkit-website"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "zensical>=0.0.24",
]
