h3.blog-post {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

h3.blog-post > span.date {
    font-weight: lighter;
    width: 10vh;
    display: inline-block;
    margin-left: 2vh;
}

span.blog-post-tags {
    margin-left: 12vh;
}

a.tag-link::before {
    left: calc(-1em + 0.5px) !important;
    top: 0.5px !important;
}
