.json {
        padding: 16px;
        background-color: #272822;
        color: #FFF;
        font-family: "Consolas", menlo, monospace;
}

.line {
	margin: 4px 0;
	display: flex;
	justify-content: flex-start;
}

.caret-icon {
	width: 28px;
	text-align: center;
	cursor: pointer;
}

.json .caret-icon > i {
        border: 0;
}

.empty-icon {
	width: 20px;
}

.json-type {
	margin-right: 4px;
	margin-left: 4px;
}

.json-key {
	color: #EEE;
	margin-right: 4px;
	margin-left: 4px;
}

.json-index {
	margin-right: 4px;
	margin-left: 4px;
}

.json-separator {

}

.json-value {
	margin-left: 8px;
}

.json-number {
	color: #f9ae58;
}

.json-boolean {
	color: #ec5f66;
}

.json-string {
	color: #86b25c;
}

.json-size {
	margin-right: 4px;
	margin-left: 4px;
}

.hide {
	display: none;
}

.json .fas {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
}

.json .fa-caret-down {
	border-width: 6px 5px 0 5px;
	border-color: #808080 transparent
}

.json .fa-caret-right {
	border-width: 5px 0 5px 6px;
	border-color: transparent transparent transparent #808080;
}
