#descriptor-examples-table {
}

#descriptor-examples-table code, #descriptor-examples-table td:not(:first-child) {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

#descriptor-examples-table > table > thead > tr > th:nth-child(2) {
    width: 45%;
}

#descriptor-examples-table > table > thead > tr > th:nth-child(2) {
    width: 45%;
}

.descriptor-support-table > table > thead > tr > th:nth-child(1) {
    width: 25%;
}
