{{ partial "header.html" . }}

<h1>{{ .Params.name }}</h1>

{{ with .Params.photo }}
<img src="{{ . }}" alt=""/>
{{ end }}

{{ with .Content }}
<h2>Bio</h2>
{{ .Content }}
{{ end }}

<h2>Links</h2>
{{ with .Params.twitter }}
<ul>
    <li>
        <a href="https://twitter.com/{{ . }}" target="_blank">
            Follow on Twitter
        </a>
    </li>
    {{ end }}
    {{ with .Params.mastodon }}
    <li>
        <a href="{{ . }}" target="_blank">
            Follow on Mastodon
        </a>
    </li>
    {{ end }}
    {{ with .Params.github }}
    <li>
        <a href="{{ . }}" target="_blank">
            Follow on Github
        </a>
    </li>
    {{ end }}
    {{ with .Params.web }}
    <li>
        <a href="{{ . }}" target="_blank">
            Web Page
        </a>
    </li>
    {{ end }}
</ul>

<h2>Articles</h2>
<ul>
    {{ range .Data.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>

{{ partial "footer.html" . }}