h1.blog-title {
    margin-top: 0;
    margin-bottom: 0;
}

span.blog-author {
    font-weight: bolder;
    font-size: 1.2em;
}

div.tags {
    display: flex;
    justify-content: center;
}

h3.blog-post {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

h3.blog-post span.anchor {
    position: initial;
}

h3.blog-post > span.date {
    font-weight: lighter;
    width: 10vh;
    display: inline-block;
    margin-left: 2vh;
}

span.blog-post-tags {
    margin-left: 12vh;
}

a.tag-link::before {
    width: 1em !important;
    height: 2em !important;
}

a.tag-link {
    border-radius: 1px 3px 3px 1px !important;
}
