:root {
  --docs-primary: #F76A1A;
  --docs-deep-brown: #40382D;
  --docs-deeper-brown: #282117;

  --docs-neutral-10: #E6E6E6;
  --docs-neutral-25: #BFBFBF;
  --docs-neutral-50: #808080;
  --docs-neutral-75: #606060;
  --docs-neutral-90: #161616;

  --docs-selection-bg: var(--docs-neutral-25);
  --docs-selection-text: var(--docs-white);

  --docs-body-bg: var(--docs-white);
  --docs-body-heading: var(--docs-black);
  --docs-body-text: var(--docs-neutral-75);
  --docs-body-link: var(--docs-primary);
  --docs-body-link-accent: var(--docs-primary);
  --docs-body-border-light: var(--docs-neutral-10);
  --docs-body-border-medium: var(--docs-neutral-25);
  --docs-border-dashed: 1px dashed #BFBFBF;

  --docs-cta-text: var(--docs-deeper-brown);
  --docs-cta-bg: linear-gradient(291.12deg, #FF9500 23.78%, #FFE08F 102.85%);

  --docs-header-text: var(--docs-body-text);
  --docs-header-bg: var(--docs-body-bg);
  --docs-header-link: var(--docs-body-link);
  --docs-header-link-accent: var(--docs-body-link-accent);

  --docs-sidebar-text: var(--docs-body-text);
  --docs-sidebar-bg: var(--docs-body-bg);
  --docs-sidebar-link: var(--docs-body-text);
  --docs-sidebar-link-accent: var(--docs-body-link-accent);

  --docs-code-text: inherit;
  --docs-code-bg: var(--docs-neutral-10);
  --docs-pre-text: var(--docs-white);
  --docs-pre-bg: #414862;
}

:root[data-theme="dark"] {
  --docs-primary: #FFC774;

  --docs-neutral-10: var(--docs-deeper-brown);
  --docs-neutral-25: #606060;
  --docs-neutral-50: #808080;
  --docs-neutral-75: #BFBFBF;
  --docs-neutral-90: #E6E6E6;

  --docs-body-bg: var(--docs-deep-brown);
  --docs-body-heading: var(--docs-white);

  --docs-cta-bg: linear-gradient(291.12deg, #FFB54C 23.78%, #F3D876 102.85%);

  --docs-code-bg: var(--docs-deeper-brown);
  --docs-pre-bg: var(--docs-code-bg);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --docs-primary: #FFC774;

    --docs-neutral-10: var(--docs-deeper-brown);
    --docs-neutral-25: #606060;
    --docs-neutral-50: #808080;
    --docs-neutral-75: #BFBFBF;
    --docs-neutral-90: #E6E6E6;

    --docs-body-bg: var(--docs-deep-brown);
    --docs-body-heading: var(--docs-white);

    --docs-cta-bg: linear-gradient(291.12deg, #FFB54C 23.78%, #F3D876 102.85%);

    --docs-code-bg: var(--docs-deeper-brown);
    --docs-pre-bg: var(--docs-code-bg);
  }
}
