:root {
  --docs-primary-light: #F7931A;
  --docs-primary-dark: #FFC774;
  --docs-dark: #40382D;
}

iframe.example {
  width: 100%;
  height: 800px;
  border: 0;
}

.supporters a {
  display: inline-block;
  margin: 1.5rem 1.5rem 1.5rem 0;
  text-align: center;
}

.supporters img {
  display: block;
  width: 75px;
  height: 75px;
  margin-bottom: .5rem;
}
