<style>
.error {
    color: orange;
}
</style>

<form>
    <div>
        <label for="descriptor">Descriptor</label>
        <input type="text" id="descriptor" placeholder="wpkh(tpubDBYDcH8P2PedrEN3HxWYJJJMZEdgnrqMsjeKpPNzwe7jmGwk5M3HRdSf5vudAXwrJPfUsfvUPFooKWmz79Lh111U51RNotagXiGNeJe3i6t/0/*)" required/>
    </div>
    <div>
        <label for="change_descriptor">Change Descriptor (optional)</label>
        <input type="text" id="change_descriptor"/>
    </div>

    <div style="display: flex; align-items: baseline;">
        <input type="submit" value="Start" id="start_button" style="padding: 10px; width: 100px;" disabled/>
        <span id="start_message" style="margin-left: 5px;"></span>
    </div>
</form>

<pre id="stdout" style="max-height: 50vh; overflow-y: scroll;"></pre>

<div style="display: flex; align-items: baseline;">
    <span>></span>
    <input type="text" id="stdin" placeholder="help" style="margin-left: 5px;" disabled/>
</div>

<noscript>This page contains webassembly and javascript content, please enable javascript in your browser.</noscript>
<script src="playground.js"></script>
